.about-me {
  font-family: Poppins, sans-serif;
  display: flex;
  margin: 20px;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

.about-me img {
max-width: 35%;
max-height: 35%;
}