
.about-me {
  background-color: rgb(221, 227, 249);
  font-family: Poppins, sans-serif;
  display: flex;
  margin: 20px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

 img {
max-width: 20%;
max-height: 20%;
padding: 20px;
}

  .about-me p {
   padding: 40px;
  }