.icons {
  display: flex;
  justify-content: space-evenly;
  margin-left: 600px;
  margin-right: 600px;
  list-style: none;
}


.icons img {
  max-width: 170%;
}

.icons img:hover {
  cursor: pointer;
}






