.header {
  font-family: "DM Serif Display", "serif";
  margin-top: -90px;
  padding-left: 50px;
  color: rgb(105, 105, 105);
  display: block;
  align-items: center;
  justify-content: center;
}

.tab {
  font-size: 30px;
  padding-left: 20px;
  padding-bottom: 40px;
  transition: transform 700ms ease-out;
  transform: translateX(-100%);
}

.tab span {
  color: #688d54;
}

.tab.active {
  transform: translateX(0);
}

@media only screen and (max-width: 1024px) {
  .tab {
    font-size: 1.25em;
    padding-left: 0em;
  }
}
