.header {
  font-family: 'Poppins', 'sans-serif';
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  font-weight: 300;
  background-color: lavender;
  color: rgb(105, 105, 235);
}

.header h1 {
  padding-left: 15px;
}

.tab {
  font-style: italic;
  display: inline-block;
    margin-left: 3em;
}