.nav-bar {
  font-family: "Noto Serif JP", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.nav-text ul {
  list-style: none;
  display: flex;
}

.nav-text a {
  margin-right: 5px;
  padding: 9px;
  color: #fdffab;
  text-decoration: none;
  font-size: 18px;
  transition-duration: 375ms;
  border: 1.5px solid #eee;
  border-radius: 15px;
}

.nav-text a:hover {
  color: #eee;
  border:1.5px solid #cccd88;
}

.icons ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 420px;
}

.icons ul li img {
  max-width: 28px;
  padding: 10px;
  transition: transform 0.5s;
}

.icons ul li img:hover {
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}
