.mywork h1 {
  font-family: 'DM Serif Display', 'serif';
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin-top: 4%;
  padding: 5%;
  padding-bottom: 4%;
  text-align: center;
}

.collaborative-projects, .solo-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 10%;
}

.project {
  font-family: "Noto Serif JP", serif;
  margin: 5px;
  max-width: 500px;
  text-align: center;
  color: white;
  background-color: #efdbba;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #efd9c3;
}

.project h2 {
  font-family: 'DM Serif Display', 'serif';
  color: white;
  font-size: 25px;
}

em {
  font-family: 'DM Serif Display', 'serif';
}

.images {
  max-width: 89%;
  max-height: auto;
  margin: auto;
  border-radius: 10px;
}

.project-links {
  font-family: 'DM Serif Display', 'serif';
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

.project-links a {
  text-decoration: none;
  color: #688d54;
}

.project-links a:hover {
  text-decoration: none;
  color: white;
}

.description {
  padding-top: 15px;
  padding-left: 30px;
  text-align: left;
  color: rgb(128, 8, 34);
}

em {
  color: #587747;
}