.resume {
  margin: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.portrait {
  padding-left: 50px;
  padding-right: 50px;
}

.portrait img {
  max-width: 250px;
  height: 35vh;
  border-radius: 10px;
  margin-top: 22px;
}

.resume-description {
  display: block;
  font-size: 18px;
  color: rgb(137, 52, 52);
  font-family: "Noto Serif JP", serif;
}

.resume-description h3 {
  font-family: 'DM Serif Display', 'serif';
  color: #fdffab;
font-size: 30px;
text-shadow: 1px 1px 1px rgb(154, 127, 79);
}

button {
  font-family: "DM Serif Display", "serif";
  font-size: 14px;
  border-radius: 15px;
  padding: 15px;
  background-color: transparent;
  color: #eee;
  border: 1.5px solid #ffffff;
  transition-duration: 375ms;
}

button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition-duration: 375ms;
}

button:hover {
  cursor: pointer;
  border-color: rgb(103, 102, 102);
}

button a:hover{
  color: rgb(93, 93, 93);
}